@page
@using Microsoft.Extensions.Localization
@using Payment.Localization
@using Payment.Web.Pages.Payment
@model Payment.Web.Pages.Payment.IndexModel
@inject IStringLocalizer<PaymentResource> L

@{
}
<h1>Payment</h1>
<p>@L["SamplePageMessage"]</p>
