@page
@model ProductManagement.Web.Pages.Markdown.IndexModel
@{
}

@section styles {
 <abp-style src="/libs/editor.md/css/editormd.css" />
}
@section scripts {
 <abp-script src="/libs/editor.md/js/editormd.js" />
 <abp-script src="/Pages/Markdown/Index.js" />
}

<div id="test-editor">
    <textarea style="display:none;">### Editor.md

**Editor.md**: The open source embeddable online markdown editor, based on CodeMirror & jQuery & Marked.
    </textarea>
</div>